.content {
    max-width: 600px;
    margin: 120px auto;
    padding: 40px;
    background: #ffffff;
    border-radius: 12px;
    text-align: center;

    /* SOMBRA */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.content h1 {
    margin-bottom: 10px;
}

.content h2 {
    margin-bottom: 30px;
    color: #555;
}

/* ===== BOTÓN ===== */
.content button {
    border: none;
    color: rgb(254, 254, 254);
    background: #000000;
    padding: 15px;
    border-radius: 10%;
    cursor: pointer;
}

.content button img {
    width: 40px;
    height: 40px;
}

.content button:hover {
    background: #4f5150;
}
input{
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 60%;
}
.rating {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: center;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 35px;
  color: #ccc;
  cursor: pointer;
}

.rating input:checked ~ label {
  color: gold;
}

.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}
